<%- include('./includes/head.ejs') %>
<body>
  <%- include('./includes/navbar.ejs') %>
  <div class="container mt-5">
    <h1 class="display-4">Error 404</h1>
    <p>Page Not Found</p>
  </div>
  <%- include('./includes/end.ejs') %>
</body>
